@import _variables

body
  font-family: $bodyFont
  font-size: 1.5rem

@media all and (min-width: 1px)
  .logo
    min-width: 120px

  nav
    width: 50%
    ul
      li
        position: relative
        text-align: right
        a
          // padding: 3px 15px
          // border-right: 2px solid rgba($grayColor, .5)
          font-size: 1.5rem
          color: $grayColor
          width: 100%
          display: block
          margin: 0
        &:last-child
          a
            border-right: 0
            padding-right: 0
  header
    position: relative
    z-index: 2
    
  .encabezado
    // background: url('../images/bg-encabezado.jpg') center
    padding: 25px 0
    position: relative
    margin-top: -20px
    margin-bottom: 20px
    z-index: 1
    h1
      text-align: center
      background-color: rgba($grayColor, .95)
      padding: 30px 10px
      margin: 0
      font-size: 2.2rem
      color: $whiteColor
      font-family: $primaryFont
      span
        color: $jadeColor
  
  .caracteristicas
    font-family: $primaryFont
    margin: 20px 0
    li
      margin: 5px 0
      width: 100%
      span
        width: 85%

  .linkFilter
    border: 2px solid $jadeColor
    padding: 10px 25px
    margin: 10px 0
    color: $grayColor
    font-weight: 700
    letter-spacing: 1px
    &:hover
      content: ''
      color: $whiteColor
      background-color: $jadeColor
  
  .manPhone
    position: relative
    height: 90vh
    width: 100%
    margin: 40px 0
  
  .espacios
    background-color: $darkBlueColor
    color: $whiteColor
    padding: 25px 0
    margin-bottom: 20px
    font-weight: 700
    font-size: 1.9rem
    img
      width: 40%
      margin: 10px 0
    
  .titlePlano
    text-align: center
    display: block
    margin: 20px auto 20px
    width: 60%
    text-align: center
    border: 2px solid $jadeColor
    color: $jadeColor
    padding: 10px 0
    font-weight: 700
  
  .titleUbicacion
    font-family: $primaryFont
    font-size: 2.8rem
  .ubicacion
    p
      margin-bottom: 15px
  
  .mapaGoogle
    height: 60vh
    margin: 20px 0
  
  .wrappContacto
    background-color: $darkBlueColor
    color: $whiteColor
    position: relative
    padding: 25px 0
    width: 100%
    margin: 15px 0
  
  .contacto
    position: relative
    border: 1px solid $whiteColor
    padding: 20px 30px
    margin: 20px 0
    label
      color: $whiteColor
      font-size: 1.3rem
      letter-spacing: 1px
      margin-bottom: 10px
      input,
      textarea
        padding: 7px
        width: 100%
        margin-top: 5px
    &::before
      content: ''
      background-color: $darkBlueColor
      position: absolute
      top: -2px
      right: 10%
      width: 100px
      height: 4px
    &::after
      content: ''
      background-color: $darkBlueColor
      position: absolute
      bottom: -2px
      right: 10%
      width: 100px
      height: 4px
  
  .tituloContacto
    margin: 0 
    font-family: $primaryFont
    font-weight: 100
    font-size: 2.8rem
  .correo
    color: $whiteColor
    font-size: 1.6rem
  .proyectos
    margin: 20px 0
    .itemProyect
      width: 49%
      &:last-child
        width: 100%
    h2
      font-family: $primaryFont
      color: $darkBlueColor
      font-size: 2.1rem

  footer
    background-color: $darkBlueColor
    padding: 15px 0
    color: $whiteColor
    p
      text-align: center
      width: 100%
      margin: 10px 0

@media all and (min-width: 376px)
  .caracteristicas
    li
      width: 48%
      span
        width: 75%

@media all and (min-width: 768px)
  .espacios
    font-size: 2.1rem
    border-top: 30px solid $whiteColor
    border-bottom: 30px solid $whiteColor
    img
      width: 25%
  .linkFilter
    width: 21%
    margin: 20px 0
    &:nth-child(2)
      margin-left: 30px
      margin-right: 30px
  .proyectos
    .itemProyect
      width: 32.3%
      &:last-child
        width: 32.3%
  .manPhone 
    height: 60vh
  
  .dormitorios
    > div
      width: 50%

@media all and (min-width: 1025px)
  header
    display: flex
  nav
    width: 80%
    ul
      li
        position: relative
        text-align: inherit
        a
          padding: 3px 15px
          border-right: 2px solid rgba($grayColor, .5)
          text-align: center
          display: inline
          width: 100%

  .encabezado
    text-align: left
    h1
      padding: 30px 0px 30px 40px
      text-align: left
      font-size: 3.2rem
  
  .caracteristicas
    li
      width: 50%
      span
        width: 80%
  
  .linkFilter
    margin: 20px 15px

  .espacios
    border-top: 40px solid $whiteColor
    border-bottom: 40px solid $whiteColor
  
  .titleUbicacion
    font-size: 2.8rem
  
  .proyectos
    margin: 20px 0
    .itemProyect
      width: 33%
      &:last-child
        width: 33%
    h2
      font-size: 2.8rem
    p
      font-size: 1.5rem

  .manPhone 
    height: 95vh
  
  .dormitorios
    > div
      width: 33%
  
  footer
    p
      width: 50%
      &:first-child
        text-align: left
      &:last-child
        text-align: right